.settings {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  &.container {
    background-color: $white;
  }
  &__title {
    text-align: left;
  }
}

.settings__select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: $white;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.settings__select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: $white;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
/* Transition */
.settings__select:hover::after {
  color: $black;
}

.settings__block:not(:first-child) {
  margin-top: 35px;
}
