.form__input-upload {
  display: none;
  + label {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 165px;
    height: 165px;
    background: url("../../../../assets/upload-image/add.svg") center center no-repeat;
    background-size: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    opacity: 0;
  }
}

.form__image {
  max-width: 198px;
  width: 100%;
  height: 198px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  position: relative;
  margin-left: 45px;
}

.form__image-preview {
  width: 165px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__image-preview img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.form__image:hover {
  &::after {
    content: "";
    width: 165px;
    height: 165px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  label {
    opacity: 1;
    z-index: 9;
  }
}
