.cards-field {
  max-width: 744px;
  margin: 45px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &.cards-field-6 {
    .card-container {
      flex: 0 0 110px;
      height: 110px;
    }
  }
}
