.player {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  padding: 18px 0 10px;
}

.player,
.player__personal {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  img {
    width: 100%;
  }
}

.player__score .score {
  color: $blue;
}

.player__email {
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}
